<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AJAX practice</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="main">
          <ol>
            <li v-for="(item, index) in listItems"> <!-- add a v-if statement here for the up/down arrows -->
              <span v-if="index === 0" v-on:click="moveItemDown(index)"> &#8595; </span>
              <span v-else-if="index === (listItems.length - 1)" v-on:click="moveItemUp(index)"> &#8593; </span>
              <span v-else><span v-on:click="moveItemUp(index)">&#8593;</span>   <span v-on:click="moveItemDown(index)">&#8595;</span></span>
              <span>{{item}}</span>
            </li>
            <li>
              <input v-model="itemText" @keyup.enter="newListItem" name="newItem" type="text">
              <button for="newItem" v-on:click="newListItem">Add item</button>
            </li>
          </ol>
        </div>
    </body>

    <script src="js/vue.global.js"></script>
    <script src="js/jquery-3.5.4.js"></script>
    <script src="js/client.js"></script>
</html>

<!-- 
  arrow icons:
    Up arrow: &#8593;
    Down arrow: &#8595;
-->